.geral{
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.container_acomodacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    width: 80%;
}

.box{
    width: 550px;
    height: 280px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;

}

.texto-acomodacoes{
    color: #3EB5BA;
    font-weight: bold;
    font-size: 20px;
}

.text{
    align-items: center;
    justify-content: center !important;
    text-align: center;
    padding: 10px;
}

.modal{
    align-items: center;
    justify-content: center !important;
    text-align: center;
    padding: 10px;
}

.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}