.container-titular {
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.navegation {
  padding-top: 50px;
}

.cadastro-form{
    width: 960px;
    display: grid;
    place-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.cadastro-label{
    width: 500px;
  }

.teste{
  padding-bottom: 50px;
}

.botao-cadastro{
  background-color: #3EB5BA;
  height: 50px;
  width: 120px;
  border-radius: 50px;
  margin-right: 20px;
}

.texto-cadastro{
  color: #3EB5BA;
  font-weight: normal;
}

.botoes{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 50px;
}

.texto-dep{
  color: #3EB5BA;
  font-weight: normal;
  padding-bottom: 50px;
}